.inputTypeCheckbox {
  display: flex;
  width: fit-content;
  align-items: center;

  .input {
    appearance: none;
    position: relative;
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, rgb(237, 237, 237), rgb(222, 222, 222));
    border-radius: 2px;
    border: 1px solid rgb(172, 172, 172);
    cursor: pointer;

    &:disabled,
    &:disabled ~ .label {
      cursor: default;
      opacity: 0.6;
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      -webkit-transition: width 0.2s ease;
      -moz-transition: width 0.2s ease;
      -o-transition: width 0.2s ease;
      transition: width 0.2s ease;
    }

    &:checked::after {
      left: 1px;
      top: 1px;
      width: 5px;
      height: 2px;
      border-radius: 1px;
      border-left: 2px solid #000;
      border-bottom: 2px solid #000;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .label {
    letter-spacing: -0.2px;
    font-size: 15px;
    margin: 0;
    cursor: pointer;
  }
}
